@page
@model SIMS.Pages.Teachers.IndexModel
@{
    ViewData["Title"] = "Teacher Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["WarningMessage"]
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["InfoMessage"]
    </div>
}

<div class="container ">
    <h2>Teacher List</h2>

    <div class="container group-row search-add-info">
        <!-- Form search Teacher -->
        <form class="form-search-info" method="post" asp-page-handler="Search">
            <div class="input-group mb-3">
                <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Enter a teacherBtec's name to search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass" style="margin: 0"></i></button>
            </div>
        </form>
        <!-- Button add Teacher-->
        <div class="mb-3">
            <button type="button" class="btn btn-outline-primary" id="btn-add">Add Teacher<i class="fa-solid fa-user-plus"></i></button>
        </div>
    </div>

    <!-- Form add Teacher -->
    <div class="container position-center">
        <form class="form-control form-add-info" method="post" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="title-form">
                Form Add Teacher
                <button type="button" class="btn btn-outline-danger" id="btn-close"><i class="fa-solid fa-xmark"></i>Close</button>
            </h2>
            <div class="group-column">
                <!-- Form fields for adding Teacher -->
                <div class="mb-3">
                    <label asp-for="NewTeacher.TeacherName" class="form-label">TeacherName</label>
                    <input asp-for="NewTeacher.TeacherName" type="text" class="form-control" placeholder="Input fullname">
                    <span asp-validation-for="NewTeacher.TeacherName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NewTeacher.DateOfBirth" class="form-label">DateOfBirth</label>
                    <input asp-for="NewTeacher.DateOfBirth" type="date" class="form-control" asp-format="{0:MM/dd/yyyy}">
                    <span asp-validation-for="NewTeacher.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender:</label>
                    <div class="form-control">
                        <div class="form-check">
                            <input asp-for="NewTeacher.Gender" class="form-check-input" type="radio" value="true" id="male1">
                            <label class="form-check-label" for="male1">Male</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="NewTeacher.Gender" class="form-check-input" type="radio" value="false" id="female1">
                            <label class="form-check-label" for="female1">Female</label>
                        </div>
                    </div>
                    <span asp-validation-for="NewTeacher.Gender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <label class="input-group-text" for="department1">TeacherCourse</label>
                        <select asp-for="NewTeacher.TeacherCourse" class="form-select" id="department1" required>
                            <option value="" disabled selected>Select a department</option>
                            <option value="Programming">Programming</option>
                            <option value="Networking">Networking</option>
                            <option value="Professional Practice">Professional Practice</option>
                            <option value="Database Design & Development">Database Design & Development</option>
                            <option value="Security">Security</option>
                            <option value="Managing a Successful Computing Project">Managing a Successful Computing Project</option>
                            <option value="Website Design & Development">Website Design & Development</option>
                            <option value="Software Development Life Cycle">Software Development Life Cycle</option>
                            <option value="Business Intelligence">Business Intelligence</option>
                            <option value="Cloud computing">Cloud computing</option>
                            <option value="Data Structures & Algorithms">Data Structures & Algorithms</option>
                            <option value="Advanced Programming">Advanced Programming</option>
                            <option value="Internet of Things">Internet of Things</option>
                            <option value="Application Development">Application Development</option>
                            <option value="Computing Research Project">Computing Research Project</option>
                            <option value="Semi-Project">Semi-Project</option>
                            <option value="Planning a Computing Project">Planning a Computing Project</option>
                            <option value="Discrete Maths">Discrete Maths</option>
                            <option value="Data Analytics">Data Analytics</option>
                            <option value="Business Process Support">Business Process Support</option>
                            <option value="Applied Programming and Design Principles">Applied Programming and Design Principles</option>
                        </select>
                    </div>
                    <span asp-validation-for="NewTeacher.TeacherCourse" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-outline-info format-btn" id="btn-create" value="Create">
                </div>
            </div>
        </form>
    </div>

    <!-- Form edit student -->
    <div class="container position-center">
        <form class="form-control form-edit-info" method="post" asp-page-handler="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="title-form">
                Form Edit Teacher
                <button type="button" class="btn btn-outline-danger" id="btn-close"><i class="fa-solid fa-xmark"></i>Close</button>
            </h2>
            <div class="group-column">
                <input type="hidden" asp-for="NewTeacher.TeacherId" />
                <div class="mb-3">
                    <label asp-for="NewTeacher.TeacherName" class="form-label">TeacherName</label>
                    <input asp-for="NewTeacher.TeacherName" type="text" class="form-control" placeholder="Input fullname">
                    <span asp-validation-for="NewTeacher.TeacherName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NewTeacher.DateOfBirth" class="form-label">DateOfBirth</label>
                    <input asp-for="NewTeacher.DateOfBirth" type="date" class="form-control" asp-format="{0:yyyy-MM-dd}">
                    <span asp-validation-for="NewTeacher.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender:</label>
                    <div class="form-control">
                        <div class="form-check">
                            <input asp-for="NewTeacher.Gender" class="form-check-input" type="radio" value="true" id="male2">
                            <label class="form-check-label" for="male2">Male</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="NewTeacher.Gender" class="form-check-input" type="radio" value="false" id="female2">
                            <label class="form-check-label" for="female2">Female</label>
                        </div>
                    </div>
                    <span asp-validation-for="NewTeacher.Gender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <label class="input-group-text" for="department2">TeacherCourse</label>
                        <select asp-for="NewTeacher.TeacherCourse" class="form-select" id="department2" required>
                            <option value="" disabled selected>Select a department</option>
                            <option value="Programming">Programming</option>
                            <option value="Networking">Networking</option>
                            <option value="Professional Practice">Professional Practice</option>
                            <option value="Database Design & Development">Database Design & Development</option>
                            <option value="Security">Security</option>
                            <option value="Managing a Successful Computing Project">Managing a Successful Computing Project</option>
                            <option value="Website Design & Development">Website Design & Development</option>
                            <option value="Software Development Life Cycle">Software Development Life Cycle</option>
                            <option value="Business Intelligence">Business Intelligence</option>
                            <option value="Cloud computing">Cloud computing</option>
                            <option value="Data Structures & Algorithms">Data Structures & Algorithms</option>
                            <option value="Advanced Programming">Advanced Programming</option>
                            <option value="Internet of Things">Internet of Things</option>
                            <option value="Application Development">Application Development</option>
                            <option value="Computing Research Project">Computing Research Project</option>
                            <option value="Semi-Project">Semi-Project</option>
                            <option value="Planning a Computing Project">Planning a Computing Project</option>
                            <option value="Discrete Maths">Discrete Maths</option>
                            <option value="Data Analytics">Data Analytics</option>
                            <option value="Business Process Support">Business Process Support</option>
                            <option value="Applied Programming and Design Principles">Applied Programming and Design Principles</option>
                        </select>
                    </div>
                    <span asp-validation-for="NewTeacher.TeacherCourse" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-outline-info format-btn" value="Update">
                </div>
            </div>
        </form>
    </div>

    <!-- Student table -->
    <table class="table table-striped">
        <thead>
            <tr class="title-table-teacher bg-dark">
                <th class="text-light" scope="col">ID Teacher</th>
                <th class="text-light" scope="col">TeacherName</th>
                <th class="text-light" scope="col">DateOfBirth</th>
                <th class="text-light" scope="col">Gender</th>
                <th class="text-light" scope="col">TeacherCourse</th>
                <th class="text-light" scope="col">Function</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TeacherList != null && Model.TeacherList.Any())
            {
                @foreach (var teacher in Model.TeacherList)
                {
                    <tr>
                        <td>@teacher.TeacherId</td>
                        <td>@teacher.TeacherName</td>
                        <td>@teacher.DateOfBirth.ToString("MM/dd/yyyy")</td>
                        <td>@(teacher.Gender ? "Male" : "Female")</td>
                        <td>@teacher.TeacherCourse</td>
                        <td class='form-cell d-flex'>
                            <a asp-page="/Teachers/Details" asp-route-id="@teacher.TeacherId" class="btn btn-outline-secondary" id="btn-detail">Detail</a>
                            <a asp-page-handler="Edit" asp-route-id="@teacher.TeacherId" asp-route-showEditForm="true" class="btn btn-outline-secondary" id="btn-edit">Edit</a>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@teacher.TeacherId">
                                <button class="btn btn-outline-secondary">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No teachers found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/even.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}